.liste {
    display: flex;
    flex-direction: column;
}

.carte {
    background-color: white;
    border-bottom: solid 1px gray ;

    font-family: "Montserrat", "Inter",sans-serif;
    font-weight: 400;
    font-size: 16px;

    padding: 0 0 0 20px;
}

.carte__lieux {
    color: gray;
}