.header-mobile {
    margin: 0;
    padding: 20px;

    border-bottom: solid 1px black;
}

.header-mobile__titre {
    font-family: "Montserrat", "Inter",sans-serif;
    font-weight: 600;
    font-size: 20px;

    margin: 0;
    padding: 0;
}